
body {
    background:
    linear-gradient(
      rgb(151, 199, 230),
      rgb(24, 44, 63)
    
    ),url(../img/clouds.jpg);



}

p {
    font-family: 'Rajdhani', sans-serif;
    color: rgb(201, 229, 253);
    text-align: center;
    font-size: xx-large;
    padding: 15px 15px 15px 15px;
}

.four {
    font-size: 55px;
}

.eight {
    font-size: 75px;
}
