

body {
    background: linear-gradient(rgba(156, 195, 226, 0.79), rgba(43, 86, 114, 0.45)), url('/images/fight.jpg');
    background-position: center;
    background-size: cover;
    padding:12px 24px;
  
  } 
  
  h1 {
    color:  rgb(43, 82, 95);
    text-align: center;
  }

  h2 {
    color:  rgb(64, 122, 141);
    text-align: center;
  }